<hr>
<div class="d-flex justify-content-between align-items-center">
    <div class="m-3">
        <p>915 Hilby Avenue, Suite #2<br> Seaside, California 93955</p>
        <p><strong>Seaside:</strong> (831) 899 - 0492</p>
        <p><strong>Salinas:</strong> (831) 442 - 7700</p>
    </div>
    <img class="m-3" src="img/LSS-Logo-NoText.png" alt="Logo without text">
    <p class="m-3" id="disclaimer">
        No attorney-client relationship is established without direct contact with LSS and we personally inform you of our ability to assist you. Do not rely on the information in these pages for legal advice. Visiting this web site does not make Legal Services for Seniors your legal counsel. Remember, the information in this web site is based upon California law, laws of other states will be different. Our mission of Legal Services for Seniors is to provide no cost legal services to Monterey County seniors 60 years of age and above, emphasizing service to the most socially and/or economically needy.
    </p>
</div>