<hr>
<div class="d-flex justify-content-between align-items-start">
    <div class="m-3">
        <h6>Contact Us</h6>
        <p>915 Hilby Avenue, Suite #2<br> Seaside, California 93955</p>
        <p><strong>Seaside:</strong> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg> (831) 899 - 0492</p>
        <p><strong>Salinas:</strong> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg> (831) 442 - 7700</p>
    </div>
    <div class="m-3">
        <h6>Office Hours</h6>
        <p>
            Monday - Friday<br>
            9:00AM - 5:00PM
        </p>
    </div>
    <img class="m-3 align-self-center" src="public/img/LSS-Logo-NoText.png" alt="Logo without text">
    <div class="m-3">
        <h6>Disclaimer</h6>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Read More...
        </button>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Disclaimer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                No attorney-client relationship is established without direct contact with LSS and we personally inform you of our ability to assist you. Do not rely on the information in these pages for legal advice. Visiting this web site does not make Legal Services for Seniors your legal counsel. Remember, the information in this web site is based upon California law, laws of other states will be different. Our mission of Legal Services for Seniors is to provide no cost legal services to Monterey County seniors 60 years of age and above, emphasizing service to the most socially and/or economically needy.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="p-4" id="google_translate_element"></div>