<header>
<div class="d-flex justify-content-center m-5">
    <img id="logo" src="img/LSS-Logo.png" alt="LSS Logo">
</div>
</header>
<nav class="py-4 sticky-top">
    <div class="d-flex justify-content-evenly align-items-center container">
        <a href="/">Home</a>
        <a href="/services">Services</a>
        <a href="/resources">Resources</a>
        <a href="/">About</a>
        <a href="/contact">Contact</a>
        <a href="/">Events</a>
        <div id="donate"><a href="/" >Donate</a></div>
    </div>
</nav>
<div class="d-flex justify-content-center align-items-center">
    <img src="img/<%= image %>" alt="Home Banner">
</div>
