<div>
    <h3 class="text-center"><%= siteName %></h3>
    <div class="dropdown">
        <a class="btn btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Click to display <%= siteName %>
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <% for (i of sites) { %>
                <li><a class="dropdown-item" href="<%= i.link %>"><%= i.name %></a></li>
            <% } %>
        </ul>
    </div>
</div>