<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
<%- include("partials/header", {"image": "About.png"}) %>
<main class="container my-5">
    <div class="text-center">
        <h1>Our Mission</h1>
        <p>
            Our Legal Services for Seniors Board of Directors give greatly of their time, energy, talents and more to ensure the LSS's finances and legal programs are healthy and supported to ensure LSS is here to serve Monterey County seniors for years to come.
        </p>
    </div>
</main>
<footer class="container"><%- include("partials/footer") %></footer>
</body>
</html>