<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
<%- include("partials/header", {"title": "About"}) %>
<main class="container my-5">
    <div class="text-center">
        <h1>Our Mission</h1>
        <p>
            Our Legal Services for Seniors Board of Directors give greatly of their time, energy, talents and more to ensure the LSS's finances and legal programs are healthy and supported to ensure LSS is here to serve Monterey County seniors for years to come.
        </p>
    </div>
    <h1 class="text-center">Attorneys</h1>
    <h3 class="text-center"><u>Executive Director</u></h3>
    <div class="d-flex justify-content-between">
        <div>
            <h5><strong>Creighton Mendivil</strong></h5>
            <p>
                Executive Director and Directing Attorney. Creighton has resided on Monterey Bay since 2000. He attended Monterey College of Law and has worked for legal aid organizations since 2009. Creighton has been a legal aid Executive Director since 2012.
            </p>
        </div>
    </div>
    <h3 class="text-center"><u>Staff Attorneys</u></h3>
    <div class="row">
        <div class="col-6">
            <h5><strong>Karen Blank</strong></h5>
            <p>
                A new Monterey County resident, Karen’s wisdom and experience in Probate law is Invaluable to Legal Services for Seniors.
            </p>
        </div>
        <div class="col-6">
            <h5><strong>Teri  Scarlett</strong></h5>
            <p>
                Teri comes to Legal Services for Seniors with years of local experience in law, especially in the legal aid realm. Teri handles our financial elder abuse and many other litigation cases, representing clients in Superior Court.
            </p>
        </div>
    </div>
    <h3 class="text-center"><u>Pro Bono Attorneys</u></h3>
    <div class="row">
        <div class="col-4">
            <h5><strong>Elisabeth DeBartolo</strong></h5>
            <p>
                Lis is a local attorney in  private practice who gives back to her community through lending her  legal expertise to Legal Services for Seniors.
            </p>
        </div>
        <div class="col-4">
            <h5><strong>Albert H. Maldonado</strong></h5>
            <p>
                Now a pro bono attorney, Mr.  Maldonado formerly served as a Municipal Court and Superior Court Judge  in Monterey County where he recently retired.
            </p>
        </div>
        <div class="col-4">
            <h5><strong>Kellie D. Morgantini</strong></h5>
            <p>
                Kellie recently retired as Executive Director/Attorney for Legal Services for Seniors after 12 at the helm. Kellie’s entire twenty-five year legal career has been spent in service to Legal Services for Seniors.
            </p>
        </div>
    </div>
    <h1 class="text-center">Staff</h1>
    <h3 class="text-center"><u>Legal Advocates</u></h3>
    <div class="row">
        <div class="col-4">
            <h5><strong>Kelly Davidian</strong></h5>
            <p>
                A recent Monterey College of Law graduate, Kelly provides invaluable service with her long history of public service here in Monterey County as a Legal Services for Seniors Law Clerk.
            </p>
        </div>
        <div class="col-4">
            <h5><strong>Neha Gupta</strong></h5>
            <p>
                Neha is one of our newest legal advocates. When not helping our seniors, Neha is a student at Monterey College of Law.
            </p>
        </div>
        <div class="col-4">
            <h5><strong>Aimee Lisanti</strong></h5>
            <p>
                Soon to graduate from California State University Monterey Bay (CSUMB), Aimee plans to attend Monterey College of Law, while also serving as a one of our legal advocates.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h5><strong>Jason Little</strong></h5>
            <p>
                Our newest Legal Advocate. Jason is a student at CSUMB, who plans a career in Law.
            </p>
        </div>
        <div class="col-4">
            <h5><strong>Yvette Vazquez</strong></h5>
            <p>
                Bilingual in Spanish and English, is a our long-time paralegal.
            </p>
        </div>
        <div class="col-4">
            <h5><strong>Gerardo Virgen</strong></h5>
            <p>
                Gerardo is a current Monterey College of Law Student. Being bi-lingual in Spanish, Gerardo gives LSS the ability to reach more potential clients.
            </p>
        </div>
    </div>
    <h3 class="text-center"><u>Support Staff</u></h3>
    <div class="row">
        <div class="col-4">
            <h5><strong>Nancy Miccoli</strong></h5>
            <p>
                Our Office Manager - Nancy has over 25  years experience in management and business development in our local  real estate, accounting and title industry.
            </p>
        </div>
        <div class="col-4">
            <h5><strong>Corinne Nunes</strong></h5>
            <p>
                Our Intake Specialist - Corinne is many times the first voice you hear when you call our office. Corinne will take your information then get you to the right person to give you the legal assistance best suited to your issue.
            </p>
        </div>
        <div class="col-4">
            <h5><strong>Vianni Vasquez</strong></h5>
            <p>
                Our Salinas High School Assistant and “Intake Specialist in Training.”
            </p>
        </div>
    </div>
</main>
<footer class="container"><%- include("partials/footer") %></footer>
</body>
</html>