<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
<%- include("partials/header", {"title": "Events"}) %>
<main class="d-flex justify-content-center my-5">
    <%- calendar %>
</main>

<footer class="container"><%- include("partials/footer") %></footer>
</body>
</html>