<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
<%- include("partials/header", {"title": "CONTACT"}) %>
<main class="container my-5 d-flex justify-content-around">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3202.9806746957383!2d-121.84995294867711!3d36.60277447989142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808de4fb82153eb7%3A0x77348a117a02b1fc!2s915%20Hilby%20Ave%2C%20Seaside%2C%20CA%2093955!5e0!3m2!1sen!2sus!4v1619599869413!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    <div>
        <h4><strong>LOCATION</strong></h4>
        <p>915 Hilby Avenue, Suite 2 Seaside, California 93955</p>

        <h4><strong>Office Hours</strong></h4>
        <p>
            Monday - Friday<br>
            9:00AM - 5:00PM
        </p>

        <h4><strong>Phone Numbers</strong></h4>
        <p><strong>Seaside:</strong> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg> (831) 899 - 0492</p>
        <p><strong>Salinas:</strong> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg> (831) 442 - 7700</p>
    </div>
</main>

<footer class="container"><%- include("partials/footer") %></footer>
</body>
</html>