<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/header", {"title": "HOME"}) %>
    <main class="container my-5">
        <h1 class="text-center">Covid-19 Information</h1>
        <p>Dear Legal Services for Seniors Community,

        <p>Our clients’ and staff’s health and welfare is of utmost importance to us. Given the current Covid-19 concerns and the coming cold winter season, Legal Services for Seniors is closed to in-person client assistance.</p>

        <p>Our  advocates and attorneys are working to help you with your legal questions and concerns. Please call us at 831.899.0492 to talk with us  about your legal concern.</p>

        <p>Please note when we return calls, it will be from a blocked number to maintain your confidentiality.</p>

        <p><i>For you and your family, please stay safe, wash your hands and avoid public places.</i></p>

        <p class="text-center">-~-</p>

        <p>If you have questions about what you should do while the order is in place and what are the best ways to protect yourself and others from COVID-19, there are several County options available for information:</p>

        <ul>
            <li>The Monterey County Health Department COVID-19 web page is continuously updated with news, information and data: www.mtyhd.org/covid19</li>

            <li>A new information hotline is 831-755-4521. Staffed Mon - Fri, 8 am to 5 pm.</li>

            <li>Email your questions to COVID-19@co.monterey.ca.us</li>
        </ul>



        <p><i>"Legal Services for Seniors provides legal services at no charge to Monterey County seniors 60 years of age and older with an emphasis on the socially and/or economically needy."</i></p>

        <h2 class="text-center">* Education is Empowerment *</h2>
        <p>A goal of Legal Services for Seniors is to educate our community on legal issues to help us all stand up for our rights, avoid scams and maintain independence.</p>

        <p>Throughout the year we are presenting legal topics in virtual workshops. Check back for our upcoming virtual presentations. If you are interested in attending, or have an idea of a topic which you would like us to cover please give us a call or drop us a line at “workshops@lssmc.net” All presentation are free. In some cases, we provide continuing legal education credits (MCLE) for attending lawyers.</p>

        <p class="text-center">~*~</p>

        <p>Our supporters' commitment to Legal Services for Seniors has been essential to our success over our 35 years in existence helping Monterey County’s seniors obtain no-cost legal representation.</p>

        <p>As our past Executive Director Kellie Morgantini said a couple of years ago, we say the legal services are provided at no-cost, but it is only “no-cost” to LSS’s clients. LSS must still pay the expenses of the attorneys and legal advocates who provide the legal representation and LSS must rely on its donors to make that possible.</p>

        <p>If you are a Monterey County resident, at least sixty (60) years old, we can help. Give us a call to make an appointment at one of our offices in Salinas or Seaside or one of our many outreach sites throughout the County.</p>

        <p><strong>Call our office to talk to an advocate or schedule an outreach appointment.</strong></p>

        <p><strong>Legal Services for Seniors is a 501(c)(3) charitable organization. Any donation you make to us is exempt to the fullest extent of the law. Tax ID# 77-0073127</strong></p>

        <h3>Practice Areas</h3>
        <h6>ELDER ABUSE, FINANCIAL & PHYSICAL</h6>
        <p>We assist clients who are victims of physical elder abuse at the hands of family and others. We also assist seniors who fall prey to undue influence, fraud and scams. Our legal advocates assist clients in obtaining restraining orders in domestic violence court as well as address financial elder abuse (which may befall them) in Monterey County Superior Court.</p>

        <h6>ESTATE PLANNING/REAL ESTATE ISSUES</h6>
        <p>Our Estate Planning practice encompasses Wills and Advanced Health Care Directives.</p>

        <h6>LANDLORD/TENANT</h6>
        <p>We represent clients whose landlords improperly retain retention of tenants’ security deposits, illegal evictions  and other landlord/tenant matters.</p>


        <h6>LIMITED CONSERVATORSHIPS</h6>
        <p>A Limited Conservatorship is a Superior Court process in which our client is appointed as a Conservator of an adult disabled child or other adult who is not able to successfully care for themselves.</p>

        <h6>MEDI-CAL/MEDICARE</h6>
        <p>Medicare and MediCal health insurance problems require knowledge of not only health insurance, but governmental administrative processes. We can help untangle insurance problems, as well as coverage and qualification denials.</p>

        <h6>GUARDIANSHIPS/ADOPTIONS</h6>
        <p>Probate Guardianships - a Superior Court process in which custody of minor children (under 18 years of age) is granted to someone other than a child’s parent. Our attorneys represent clients in this process - from preparing and filing court petitions to representation in court.</p>
    </main>

    <footer class="container"><%- include("partials/footer") %></footer>
</body>
</html>