<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
<%- include("partials/header", {"title": "Outreach"}) %>
<main class="container my-5 text-center">
    <p>
        While the Covid-19 virus is still an immediate threat, Legal Services for Seniors has suspended our in-person outreach sessions. We are anxious to get back to serving the community as soon as it is safe and healthy for us all. In the meantime, please give us a call at 831.899.0492 or 831.442.7700 to talk with an advocate about your legal issue.</p>

    <p>
        <strong>South County</strong><br>
        King City, Greenfield, Soledad and Gonzales
    </p>
    <p>
        <strong>Monterey Peninsula</strong><br>
        Monterey, Pacific Grove, Carmel and Carmel Valley
    </p>
    <p>
        If you would like to talk with our staff about a confidential legal matter, please call  us at <strong>831.442.7700</strong> or <strong>831.899.0492</strong> to set up an appointment.
    </p>
</main>
<footer class="container"><%- include("partials/footer") %></footer>
</body>
</html>