<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
<%- include("partials/header", {"image": "Services.png"}) %>
<main class="container my-5">
    <h2 class="text-center">Areas of Practice</h2>
    <div class="row">
        <div class="col-4">
            <hr>
            <h5>ELDER ABUSE, FINANCIAL AND PHYSICAL</h5>
            <p>We assist clients who are victims of physical elder abuse at the hands of family and others. We also assist seniors who fall prey to undue influence, fraud and scams. Our legal advocates assist clients in obtaining restraining orders in domestic violence court as well as address financial elder abuse (which may befall them) in Monterey County Superior Court.</p>
        </div>

        <div class="col-4">
            <hr>
            <h5>SMALL CLAIMS</h5>
            <p>If a client’s legal problem can’t be resolved informally - Small Claims actions (up to $10,000 by an individual) are a viable option. Common in small claims issues include failures of construction, other home maintenance repair contracts, pay back personal loans, to provide a service (wedding planner services, birthday cakes, etc.). Attorneys can’t appear for, or represent, small claims claimants, but we help prepare complaints,  counseling clients in the best manner to present their case, as well as help with filing and serving complaints.</p>
        </div>

        <div class="col-4">
            <hr>
            <h5>REAL ESTATE ISSUES/LANDLORD/TENANT</h5>
            <p>We can assist with property line disputes, trespass and other neighbor disputes. We can help with Affidavits of Death of Joint Tenant for clients whose spouse or other joint tenant in a property has passed away. Other are of practice include representation in Mortgage foreclosure fraud, fraudulent taking of real property by unscrupulous children, caregivers or others.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <hr>
            <h5>ADOPTIONS/GUARDIANSHIPS</h5>
            <p>Probate Guardianships - a Superior Court process in which custody of minor children (under 18 years of age) is granted to someone other than a child’s parents. Our attorneys represent clients in this processes - from preparing and filing court petitions to representation in court.</p>
        </div>

        <div class="col-4">
            <hr>
            <h5>LIMITED CONSERVATORSHIPS</h5>
            <p>A Limited Conservatorship is a Superior Court process in which a client may be appointed as a Conservator of an adult disabled child or other adult who is not able to successfully care for themselves.</p>
        </div>

        <div class="col-4">
            <hr>
            <h5>CONSUMER LAW</h5>
            <p>Client defense of credit suits brought in Superior Court by Creditors. We handle many service contracts, auto (sales & leases), home services (plumbing, solar panels, construction) and credit card issues.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <hr>
            <h5>MEDI-CAL/MEDICARE</h5>
            <p>Best insurance billing practices - failing to bill patients in timely manner, medical collection suits.  Medi-Cal - coverage denials and improper billing.</p>
        </div>

        <div class="col-4">
            <hr>
            <h5>SOCIAL SECURITY</h5>
            <p>Retirement Benefits - help with coverage denials, over payments. We become involved when these benefits have been denied or otherwise withheld from our client.</p>
        </div>

        <div class="col-4">
            <hr>
            <h5>ESTATE PLANNING</h5>
            <p>Our Estate Planning practice encompasses Wills and Advanced Health Care Directives.</p>
        </div>
    </div>

</main>

<footer class="container"><%- include("partials/footer") %></footer>
</body>
</html>