nav{
    background-color: #749fc1;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: x-large;
}

div#donate {
    height: 3rem;
    line-height: 2.25rem;
    text-align: center;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    padding: 0% 2%;
    background-color: white;
}

div#donate a{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#banner{
    background-color: #5E3232;
    color: white;
}

#logo{
    width: 200px;
}

nav{
    font-family: 'Oswald', sans-serif;
}

body main, h1, h2, h3, h4, h5, h6{
    font-family: 'Lexend', sans-serif;
    font-size: 1.25rem;
}

footer img{
    height: fit-content;
}

#disclaimer{
    width: 50%;
}

form.links{
    width: 95%;
}