---
interface Props {
    title: string;
}

const {title} = Astro.props;
---
<header>
    <div class="d-flex justify-content-center m-5">
      <img id="logo" src="/img/LSS-Logo.png" alt="LSS Logo" />
    </div>
  </header>
  <nav class="py-4 sticky-top mx-auto">
    <div class="d-flex justify-content-evenly items-center container mx-auto">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <div class="dropdown">
        <a class="dropbtn">Resources</a>
        <div class="dpdn-content px-4">
          <a class="my-4" href="/resources/outreach">Outreach</a>
          <a class="my-4" href="/resources/services">Services</a>
          <a class="my-4" href="/resources">Resources</a>
        </div>
      </div>
      <a href="/events">Events</a>
      <div id="donate"><a href="/donate">Donate</a></div>
    </div>
  </nav>
  
  <div id={title.toLowerCase()}>
    <h1 class="text-center" id="display">{title}</h1>
  </div>
  
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement(
        {
          pageLanguage: "en",
          layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
        },
        "google_translate_element"
      );
    }
  </script>
  <script
    type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
  ></script>
  
  <div class="px-4" id="google_translate_element"></div>
  